<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Welcome to Quiz show</h1>
        <p class="lead">Get ready for some amazing quiz questions. The questions are mainly on current affairs of year 2018. So it is not CURRENT affairs ;)</p>
        <p class="lead">
          <button class="btn btn-lg btn-default" (click)="start()" routerLink="/questions">Click to start game!!</button>
        </p>
      </div>
    </div>
  </div>
</div>